<title>secondone</title>
<body>
	<center>
		<p>
			<a href="C:\Users\Valentim\Desktop\Imagem Sobre Imagem.html">secondone home</a>
		</p>
		<br>
		<p>
			<img src="C:\Sites\secondone\app\views\welcome\qual1.png"
		</p>
		<p>
			<li>
				Line 00000000000000
			</li>
			<li>
				Line 02
			</li>
			<li>
				Link: <a href="http://www.youtube.com" target="blank">YouTube</a>
			</li>
		</p>
	</center>
</body>