<title>secondone</title>
<body>
	<center>
		<p>
			<a href="C:\secondone\app\views\welcome\_folders\page 2.html">secondone home</a><button><a href="C:\Sites\secondone\app\views\welcome\_folders\page 2.html">secondone page 2</a></button>
		</p>
	</center>
</body>